@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300&family=Oxygen:wght@300;400&family=Playfair+Display&family=Poppins:wght@300;400&family=Roboto:wght@300;400&family=Rubik:wght@300;400&display=swap');

/* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */

:root{
    --red : red;
    --green : green;
    --blue : blue;
    --orange : orange;
    --lime : lime;
    --yellow : yellow;
    --purple : purple;
    --skyblue : skyblue;
    --black : black;
    --white : white;

    --boxShadow : 5px 8px 8px -6px rgba(0,0,0.5);
}

*::before, *::after,
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--white);
}

button,i{
    cursor: pointer;
}

header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top,rgb(0 0 0 / 88%) 0,rgb(0 0 0 / 10%) 40%,rgb(0 0 0 / 50%) 75%,rgb(0 0 0 / 95%) 100%), url("../firstpage-image/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header nav{
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .barend{
    width: 200px;
}

.barend img{
    width: 100%;
    background-size: contain;
}

nav .sign-in-language select, button{
    width: 100px;
    height: 35px;
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 5px;
    margin: 0 10px;
    outline: none;
    position: relative;
}

nav .sign-in-language select{
    -webkit-appearance: none;
    padding: 0 0 0 30px;
    /* position: relative; */
    cursor: pointer;
}

nav .sign-in-language button{
    background-color: rgba(255, 0, 0, 0.774);
    border: none;
}

.sign-in-language i{
    position: absolute;
    top: 44px;
    right: 260px;
}

nav .sign-in-language select option{
    color: var(--black);
    cursor: pointer;
}

/* ******************************** header text with email ************************************ */
header .text-container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-container h1{
    font-size: 4rem;
    font-weight: bold;
}

.text-container .watchText{
    font-size: 1.65rem;
}

.text-container .watchPeargraph{
    font-size: 1rem;
}

.text-container .form{
    width: 100%;
}

.form form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form input{
    width: 500px;
    padding: 20px 10px;
    outline: none;
    border-radius: none;
    margin-right: 140px;
}

.form form button{
    width: 200px;
    height: 68px;
    border-radius: 0px;
    position: absolute;
    margin-top: 0px;
    right: -65px;
    font-size: 1.50rem;
    font-weight: bold;
    background-color: #CB0503;
    border: none;
}

.form form button i{
    margin-left: 10px;
    font-size: 2rem;
}


/* ********************************* container section first ************************************** */
.container-section{
    width: 100%;
    background-color: var(--black);
    border-top: 10px solid #222222;
}

.container-section .container-row{
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-row .container-col{
    margin-top: 50px;
    flex: 1 1 200px;
    padding: 50px 100px;
}

.container-col .text-container{
    width: 100%;
}

.text-container h1{
    font-size: 3rem;
    font-weight: bold;
}

.text-container p{
    font-size: 1.65rem;
}

.container-col video, img{
    width: 450px;
    position: relative;
    z-index: 2;
}


/* ************************************** aksed queastion ******************************** */
.accrodin{
    width: 100%;
    background-color: var(--black);
    border-top: 10px solid #222222;
}

.accrodin h1{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.accrodin .accrodin_child{
    margin-top: 50px;
    max-width: 2000px;
    margin: 0 auto;
}

.accrodin_child .buttonaccrodin, .accrodin_text{
    width: 50%;
    padding: 20px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    cursor: pointer;
}

.buttonaccrodin button{
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    font-size: 1.50rem;
    font-weight: bold;
}

.buttonaccrodin button::before{
    position: absolute;
    top: -5px;
    right: 0;
    content: "+";
    font-size: 2rem;
}

.accrodin_child .accrodin_text{
    margin-top: 15px;
    cursor: text;
}

.accrodin_text{
    display: none;
}

.accrodin_text.activeOne{display: block}
.accrodin_text.activeTwo{display: block}
.accrodin_text.activeThree{display: block}
.accrodin_text.activeFour{display: block}
.accrodin_text.activeFive{display: block}

/* ********************************* email container ************************************** */
.emailBaground{
    width: 100%;
    background-color: var(--black);
}

.formEmail{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 50px 100px;
    text-align: center;
}

.textEmail{
    margin-top: 100px;
}

.textEmail p{
    font-size: 1.25rem;
}

.formEmail form{
    width: 100%;
}

.formEmail form input{
    width: 500px;
    margin: 0 auto;
    padding: 20px 15px;
    border: none;
    outline: none;
}

.formEmail form button{
    border-radius: 0;
    width: 200px;
    height: 65px;
    position: relative;
    right: 15px;
    border: none;
    background-color: #CB0503;
    font-size: 1.5rem;
    top: 3px;
}

/* ************************************* container-sign-up ********************************** */
.container-sign-up{
    position: fixed;
    top: -200%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
    z-index: 55;
    transition: 0.5s ease;
    transform: scale(0);
}


/* javascript  */
.container-sign-up.pop_show_box{
    top: 0;
    transform: scale(1);
}

.container-sign-up::before{
    width: 100%;
    height: 100vh;
    background-color: #121111bf;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -55;
    display: none;
}

.container-sign-up-row{
    background-color: #000000de;
    padding: 50px 25px;
    border-radius: 3px;
    color: #757575;
    border: 5px solid #222222;
}

.container-sign-up-row h1{
    font-size: 1.50rem;
    margin-bottom: 15px;
    color: var(--white);
}

.container-sign-box form{
    width: 400px;
}

.container-sign-box form input, .container_sign_in_box form input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #333333;
    color: var(--white);
    margin: 10px 0;
}

.container-sign-up-row form input::placeholder{
    font-size: 14px;
}

small{
    font-size: 10px;
    color: var(--orange);
    font-weight: bold;
}

/* javascript  */
.border_bottom{
    border-bottom: 2px solid orange !important;
}

.signinbutton{
    background-color: red !important;
    color: var(--white);
    cursor: pointer;
    box-shadow: var(--boxShadow);
}

.help-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help-center p{
    margin-top: 15px;
}

input[type="checkbox"]{
    width: 25px !important;
    height: 20px;
}

.facebook-section{
    width: 100%;
}

.facebook-section img{
    width: 35px;
    padding: 0 10px 0 0;
    margin-top: 5px;
}

.sign-in-button{
    padding: 10px 5px 0 5px;
}

.sign-in-button span a{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    margin-left: 10px;
}

/* ***************************** conyainer_sign_in *********************************** */
.conyainer_sign_in{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    z-index: 555;
    transform: scale(0);
    visibility: hidden;
    overflow: hidden;
}

.conyainer_sign_in.sign_In_open{
    transform: scale(1);
    visibility: visible;
    overflow: visible;
}

.conyainer_sign_in::before{
    width: 100%;
    height: 100vh;
    background-color: #121111bf;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -555;
}

.container_sign_in_box{
    width: 400px;
}


/* ************************ footer ******************************* */
.footer{
    border-top: 10px solid #222222;
    width: 100%;
    background-color: var(--black);
}

.footer a{
    color: #757575;
    text-decoration: none;
}

.footer h1{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 1.50rem;
    text-align: center;
    color: #757575;
}

.footer-row{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 2000px;
    margin: 0 auto;
}

.footer-col{
    flex: 1 1 200px;
    padding: 10px 10px;
}

.footer-col ul li{
    list-style: none;
    margin: 10px 0;
}

.footer-col ul li a:hover{
    text-decoration: underline;
}

.country{
    max-width: 2000px;
    margin: 0 auto;
    margin: -50px 0;
    position: relative;
}

.country select{
    margin-top: 50px;
    margin-left: 190px;
    margin-bottom: 50px;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #757575;
    color: #757575;
    font-weight: bold;
}

.country p{
    position: absolute;
    top: 100px;
    left: 200px;
    font-size: 14px;
    color: #3A3A3A;
}

































/* **************************** media query ************************************* */
@media screen and (max-width: 1050px){}
@media screen and (max-width: 1024px){
    .sign-in-language i{
        top: 3.30%;
    }

    /* header maine text  */
    header .text-container{
        top: 50%;
    }

    /* image with text section  */
    .container-row .container-col{
        flex: 1 1 200px;
        padding: 50px 50px;
    }

    .container-col video, img{
        width: 400px;
    }

    /* footer  */
    .footer-col{
        flex: 1 1 150px;
    }
}

@media screen and (max-width: 860px){
    /* image with text section  */
    .container-row .container-col{
        flex: 1 1 300px;
        padding: 50px 20px;
    }

    .text-container h1{
        font-size: 2rem;
    }
    
    .text-container p{
        font-size: 1.50rem;
    }

    .container-col video, img{
        width: 350px;
    }

    /* asked question section  */
    .accrodin_child .buttonaccrodin, .accrodin_text{
        width: 80%;
    }
}

/* 769 px  */
@media screen and (max-width: 769px){
    .sign-in-language i{
        top: 4.50%;
    }

    /* header maine text  */
    .form form input{
        margin-right: 65px;
    }

    /* footer  */
    .footer-col{
        flex: 1 1 250px;
    }
}

@media screen and (max-width: 718px){
    .sign-in-language i{
        display: none;
    }

    /* header maine text  */
    .text-container h1{
        font-size: 3.10rem;
    }

    .form form input{
        width: 350px;
    }

    /* image with text section  */
    .container-row .container-col{
        padding: 50px 20px 10px 20px;
        text-align: center;
    }

    .text-container h1{
        font-size: 3rem;
    }

    .container-col video, img{
        width: 500px;
    }

    /* image with text section 2 */
    .changeorderText{
        order: -1;
    }

    /* email  */
    .formEmail form input{
        width: 100%;
        margin: 10px auto;
    }

    /* footer  */
    .footer-col{
        flex: 1 1 200px;
    }

    .fa-globe{
        display: none !important;
    }
}

/* 600px  */
@media screen and (max-width: 600px){
    header nav{
        padding: 10px 10px;
    }
    .barend img{
        margin-top: 10px;
        width: 80%;
    }

    /* .sign-in-language i{
        top: 5.50%;
        right: 220px;
        display: none;
    } */

    /* header maine text  */
    .text-container h1{
        font-size: 1.60rem;
    }

    .text-container .watchText{
        font-size: 1.30rem;
    }

    .form form input{
        width: 300px;
        margin-right: 0px;
        padding: 13px 10px;
    }
    
    .form form button{
        width: 80%;
        height: 50px;
        top: 80px;
        right: 25px;
    }
    
    .form form button i{
        margin-left: 20px;
    }

    /* image with text section  */
    .text-container h1{
        font-size: 2.10rem;
    }

    .text-container p{
        font-size: 1.25rem;
    }

    .container-col video, img{
        margin-top: -35px;
        width: 400px;
    }

    /* aksed quotes section  */
    .accrodin h1{
        margin-bottom: 70px;
        font-size: 2rem;
    }

    .buttonaccrodin button{
        font-size: 14px;
    }

    /* email  */
    .formEmail{
        padding: 50px 10px;
    }

    .formEmail form input{
        width: 100%;
        margin: 10px auto;
    }

    /* footer  */
    .footer-col{
        flex: 1 1 150px;
    }
    .country select{
        margin-left: 100px;
    }
    
    .country p{
        left: 120px;
    }

    /* pop form sign up  */
    .container-sign-box form, .container_sign_in_box form{
        width: 100%;
    }
}

/* 466px  */
@media screen and (max-width: 466px){
    nav .barend{
        width: 150px;
    }

    header nav{
        padding: 25px 10px;
    }
    .barend img{
        width: 65%;
    }

    .sign-in-language i{
        top: 5.50%;
        right: 205px;
        display: block;
    }

    nav .sign-in-language select{
        padding: 0 0 0 10px;
    }

    nav .sign-in-language select, button{
        width: 75px;
        font-size: 12px;
    }

    /* image with text section  */
    .container-col video, img{
        width: 350px;
    }

    /* footer  */
    .footer-col{
        flex: 1 1 100px;
    }
}

/* 376px */
@media screen and (max-width: 376px){
    .sign-in-language i{
        display: none;
    }

    nav .sign-in-language select{
        padding: 0 0 0 5px;
    }

    nav .sign-in-language select, button{
        width: 55px;
    }

    /* image with text section  */
    .container-col video, img{
        width: 250px;
    }
}